APP_ICON        ICON    "Images/Icons/icon.ico"
LOG_ICON        ICON    "Images/Icons/log.ico"
ADDUSER_ICON    ICON    "Images/Icons/add_user.ico"
FIND_ICON       ICON    "Images/Icons/find.ico"
CONFIG          ICON    "Images/Icons/config.ico"
LOGIN_ICON      ICON    "Images/Icons/login.ico"

SPLBMP          BITMAP  "Images/splash.bmp"

#include "wx/msw/wx.rc"
